.ControllsContainer {
    border: 1px solid blue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 5%;
    height: 400px;
    margin: 2px;
    min-width: 50px;
    max-width: 50px;
}

.ControllsButton {
    min-height: 50px;
    margin: 2px;
}